@model Recharge_Mobile.Areas.User.Models.Views.AccountModelView
@{
    ViewBag.Title = "Account Setting";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<!-- Profile Settings-->
<div class="col-lg-8 pb-5">
    @using (Html.BeginForm(new { @class = "row" }))
    {
        @*@Html.AntiForgeryToken()*@
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-phone">Phone Number</label>
                <input class="form-control" type="text" id="account-phone" value="@Model.PhoneNumber" disabled>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-fn">First Name</label>
                <input class="form-control" type="text" id="account-fn" value="@Model.FirstName" name="firstname" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-ln">Last Name</label>
                <input class="form-control" type="text" id="account-ln" value="@Model.LastName" name="lastname" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-email">E-mail Address</label>
                <input class="form-control" type="email" id="account-email" value="@Model.Email" name="email" required>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="account-email">Address</label>
                <input class="form-control" type="text" id="account-address" value="@Model.Address" name="address" />
            </div>
        </div>
        <div class="col-12">
            <hr class="mt-2 mb-3">
            <div class="d-flex flex-wrap justify-content-between align-items-center">
                <button class="btn btn-primary" type="submit">Update Profile</button>
            </div>
        </div>
    }
</div>
