@model Recharge_Mobile.Areas.User.Models.Views.CustomerRechargeModelView
@{
    ViewBag.Title = "Account Detail";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}
@{ TimeSpan timeRemain = TimeSpan.FromSeconds(Model.TimeRemain); }

<!-- Profile Settings-->
<div class="col-lg-8 pb-5">
    <div class="jumbotron">
        <h3>Main Balance</h3>
        <hr class="mt-2 mb-3">
        <label for="account-fn">Phone Number: @Model.PhoneNumber </label><br />
        <label for="account-sp">Special Recharge: @Model.SpecialTime</label><br />
        <label for="account-tr">Time Remain: @timeRemain.ToString(@"hh\:mm\:ss")</label><br />
        <label for="account-rr">Expire: @Model.RegularTime</label>
    </div>
    <div class="jumbotron">
        <h3>Debit Balance</h3>
        <hr class="mt-2 mb-3">
        <label for="account-phone">Debit Amount: -$@Model.DebitAmount</label><br />
        <label for="account-phone">Expire: @Model.TimeToPay </label>
    </div>
</div>

