@model IEnumerable<Recharge_Mobile.Areas.RechargeArea.Models.RegularRechargeVM>

@{
    ViewBag.Title = "ViewRRList";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: purple; text-align: center">Regular Recharge List</h2><hr /><br />

<p>
    @Html.ActionLink("Create New", "CreateRegularRecharge", "RegularRecharge", new { @class = "btn btn-style-4 btn-dark" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Package Name
        </th>
        <th>
            Base Time (minutes)
        </th>
        <th>
            Bonus Time (minutes)
        </th>
        <th>
            Total Time (minutes)
        </th>
        <th>
            Price
        </th>
        <th>
            Duration (days)
        </th>
        <th>
            Description
        </th>
        <th>
            Status
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RRName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BasteTimeMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonusTimeMinute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalTimeMinute)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationDay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditRR", new { id = item.RRechargeId }) |
            @if (item.Status == "Active")
            {
                @Html.ActionLink("Deactive", "DeactivateRR", new { id = item.RRechargeId })
            }
            else
            {
                @Html.ActionLink("Activate", "ActivateRR", new { id = item.RRechargeId })
            }
        </td>
    </tr>
}

</table>
