@using Recharge_Mobile.Areas.User.Models.Views
<header class="navbar-wrapper navbar-sticky">
    <div class="d-table-cell align-middle pr-md-3"><a class="navbar-brand mr-1" href="@Url.Action("Index","Home", new { Area = "" })"><img src="~/Content/img/logo/logo.png" alt="CreateX"/></a></div>
    <div class="d-table-cell w-100 align-middle pl-md-3">
        <div class="navbar-top d-none d-lg-flex justify-content-between align-items-center">
            <div>
                <a class="navbar-link mr-3" href="tel:+8418001779"><i class="fe-icon-phone"></i>+84 1800 1779</a>
                <a class="navbar-link mr-3" href="mailto:rechargeX@example.com"><i class="fe-icon-mail"></i>rechargeX@example.com</a>
                <a class="social-btn sb-style-3 sb-twitter" href="#"><i class="socicon-twitter"></i></a>
                <a class="social-btn sb-style-3 sb-facebook" href="#"><i class="socicon-facebook"></i></a>
                <a class="social-btn sb-style-3 sb-pinterest" href="#"><i class="socicon-pinterest"></i></a>
                <a class="social-btn sb-style-3 sb-instagram" href="#"><i class="socicon-instagram"></i></a>
            </div>
            <div>
                @{CustomerRechargeModelView currentUser = Session["accountInfo"] as CustomerRechargeModelView; }
                <ul class="list-inline mb-0">
                    @if (currentUser != null)
                    {
                        <li class="dropdown-toggle mr-2">
                            <a class="navbar-link text-bold" href="@Url.Action("Logout", "Home")">
                                <i class="fe-icon-user"></i>Logout
                            </a>
                            <div class="dropdown-menu right-aligned p-3 text-center" style="min-width: 200px;">
                                <a style="text-decoration: none;" href="@Url.Action("AccountDetail", "User", new { Area = "User" })"><p class="text-bold"><i class="fe-icon-user"></i> @currentUser.PhoneNumber</p></a>
                                <a style="text-decoration: none;" href="@Url.Action("AccountDetail", "User", new { Area = "User" })">My Account</a><br /><br />
                                <a class="btn btn-primary btn-sm btn-block" href="@Url.Action("Logout", "Account", new { Area = "" })">Logout</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="navbar-link text-bold" href="@Url.Action("RegisterVendor", "Home")">
                                <i class="fa-address-card-o"></i> Become a vendor??
                            </a>
                        </li>

                        <li class="dropdown-toggle mr-2">
                            <a class="navbar-link text-bold" href="@Url.Action("Login", "Account", new { Area = "" })">
                                <i class="fe-icon-user"></i>Login or Register
                            </a>
                            <div class="dropdown-menu right-aligned p-3 text-center" style="min-width: 200px;">
                                <p class="text-sm opacity-70">Login to your account or register new one to have full control over your orders, receive bonuses and more.</p>
                                <a class="btn btn-primary btn-sm btn-block" href="@Url.Action("Login", "Account")">Login</a>
                                <p class="text-sm text-muted mt-3 mb-0">New customer? <a href="@Url.Action("Register","Account")">Register</a></p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="navbar justify-content-end justify-content-lg-between">
            <!-- Search-->
            <form class="search-box" method="get">
                <input type="text" id="site-search" placeholder="Type A or C to see suggestions"><span class="search-close"><i class="fe-icon-x"></i></span>
            </form>
            <!-- Main Menu-->
            <ul class="navbar-nav d-none d-lg-block">
                <!--Home-->
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Index","Home", new { Area = "" })">Home</a></li>
                <!--Account-->
                @*<li class="nav-item"><a class="nav-link" href="components.html">Account</a></li>*@
                <!--Post Bill Payment-->
                <li class="nav-item"><a class="nav-link" href="@Url.Action("PostBill","Home", new { Area = "" })">Post Bill Payment</a></li>
                <!--Site Map-->
                <li class="nav-item"><a class="nav-link" href="@Url.Action("SiteMap","Home", new { Area = "" })">Site Map</a></li>
                <!--FeedBack-->
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Feedback","Home", new { Area = "" })">Feedback</a></li>
                <!--About Us-->
                <li class="nav-item"><a class="nav-link" href="@Url.Action("About","Home", new { Area = "" })">About Us</a></li>
                <!--Contact Us-->
                <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact","Home", new { Area = "" })">Contact Us</a></li>
                <!-- Customer Care-->
                @*<li class="nav-item"><a class="nav-link" href="components.html">Customer Care</a></li>*@
            </ul>
        </div>
    </div>
</header>