@model IEnumerable<Recharge_Mobile.Areas.AdminArea.Models.FeedbackUserVM>

@{
    ViewBag.Title = "FeedbackList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FeedbackList</h2>

    @foreach (var item in Model)
    {
        <table style="margin-left:20%;">
            @if (item.CustomerId == null)
            {
                <tr>
                    <td style="width:200px;">Name: @item.GuestName</td>
                    <td style="width:200px;">Phone: @item.GuestPhone</td>
                    <td>Email: <a href="mailto:@item.GuestEmail?subject=RechargeX%20customer%20service">@item.GuestEmail</a></td>
                </tr>
            }
            else
            {
                <tr>
                    <td style="width:200px;">Name: @item.CusLastName</td>
                    <td style="width:200px;">Phone: @item.CusPhone</td>
                    <td>Email: <a href="mailto:@item.CusEmail?subject=RechargeX%20customer%20service">@item.CusEmail</a></td>
                </tr>
            }

            <tr>
                <td colspan="3">Title: @item.Title</td>
            </tr>
            <tr>
                <td colspan="3">@item.Detail</td>
            </tr>

            @if (item.Status == "Disabled")
            {
                <tr>
                    <td></td>
                    <td>Status: @item.Status</td>
                    <td>@Html.ActionLink("Enable", "EnableFeedback", new { id = item.FeedbackId })</td>
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td>Status: @item.Status</td>
                    <td>@Html.ActionLink("Disable", "DisableFeedback", new { id = item.FeedbackId })</td>
                </tr>
            }
        </table>
        <hr />
        
    }
    

