@model IEnumerable<Recharge_Mobile.Areas.AdminArea.Models.FeedbackUserVM>

@{
    ViewBag.Title = "FeedbackList";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}

<br /><h3 style="color: purple; text-align: center">FeedbackList</h3>

@foreach (var item in Model)
{
    <div class="container">
        <div class="blockquote comment mb-4">
            <h6><strong>@item.Title</strong></h6>
            <p>@item.Detail</p>
            <div class="d-sm-flex justify-content-between align-items-center">
                <div class="testimonial-footer">
                    <div class="d-table-cell align-middle pl-2">
                        <div class="blockquote-footer">
                            @if (item.CustomerId == null)
                            {
                                <cite>@item.GuestName - @item.GuestPhone - <a href="mailto:@item.GuestEmail?subject=RechargeX%20customer%20service">@item.GuestEmail</a></cite>
                            }
                            else
                            {
                                <cite>@item.CusLastName - @item.CusPhone - <a href="mailto:@item.GuestEmail?subject=RechargeX%20customer%20service">@item.CusEmail</a></cite>
                            }
                        </div>
                    </div>
                </div>
            </div><br /><hr /><br />
            <div class="row">
                @if (item.Status == "Disabled")
                {
                    <p class="col-6"><strong>Status:</strong> <span class="badge bg-danger">@item.Status</span></p>
                    <div class="col-6">@Html.ActionLink("Enable", "EnableFeedback", new { id = item.FeedbackId })</div>
                }
                else
                {
                    <p class="col-6"><strong>Status:</strong> <span class="badge bg-success">@item.Status</span></p>
                    <div class="col-6">@Html.ActionLink("Disable", "DisableFeedback", new { id = item.FeedbackId })</div>
                }
            </div>
            
        </div>
    </div>
}


