@model IEnumerable<Recharge_Mobile.Areas.AdminArea.Models.AdminVM>

@{
    ViewBag.Title = "ViewAdminList";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="color: purple; text-align: center">Admin List</h3>
<div class="container">
    <div class="row mb-3">
        <div class="col"></div>
        <div class="col">
            <div class="float-right">
                <form action="{{ url("product/search") }}" method="post">
                    <div>
                        <i class="mr-2 fe-icon-search"></i>
                        <input type="text" class="pl-3 pr-3"
                               style="width: 240px;" name="query"
                               onchange='this.form.submit()'
                               placeholder="Type product code or name">
                    </div>
                    <noscript><input type="submit" value="Submit"></noscript>
                </form>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("AdminInfomation", "AdminInfomation", new { id = item.AdminId })
            </td>
        </tr>
    }

</table>
