@model Recharge_Mobile.Areas.AdminArea.Models.AdminCustomerDetailsVM
@using Recharge_Mobile.Areas.AdminArea.Models

@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron">
    <h3>Information</h3>
    <hr class="mt-2 mb-3">
    <div class="row">
        <label class="col-lg-6" for="account-fn">First Name: @Model.FirstName </label><br />
        <label class="col-lg-6" for="account-fn">Last Name: @Model.LastName </label><br />
        <label class="col-lg-6" for="account-fn">Email: @Model.Email </label><br />
        <label class="col-lg-6" for="account-fn">Address: @Model.Address </label><br />
        <label class="col-lg-6" for="account-fn">Lock: @Model.Lock </label><br />
        <label class="col-lg-6" for="account-fn">Busy: @Model.Busy </label><br />
        <label class="col-lg-6" for="account-fn">Status: @Model.Status </label>
    </div>
</div>
<div class="jumbotron">
    <h3>Main Balance</h3>
    <hr class="mt-2 mb-3">
    <div class="row">
        <label class="col-lg-6" for="account-fn">Customer ID: @Model.CustomerId </label><br />
        <label class="col-lg-6" for="account-fn">Phone Number: @Model.PhoneNumber </label><br />
        <label class="col-lg-6" for="account-fn">Time Remain (Minute): @Model.TimeRemain </label><br />
        <label class="col-lg-6" for="account-fn">Regular Time: @Model.RegularTime </label><br />
        <label class="col-lg-6" for="account-fn">Special Time: @Model.SpecialTime </label><br />
        <label class="col-lg-6" for="account-fn">Time To Pay: @Model.TimeToPay </label>
    </div>
</div>



@if (ViewBag.CustomerTransactions != null && ((List<TransactionAdminVM>)(ViewBag.CustomerTransactions)).Count() >= 1)
{
<table class="table table-striped">
    <tr>
        <th>
            Transaction ID
        </th>
        @*<th>
            PhoneNumber
        </th>*@
        <th>
            Type Recharge
        </th>
        <th>
            RRechargeId
        </th>
        <th>
            SRechargeId
        </th>
        <th>
            Type Packet
        </th>
        <th>
            Recharge Name
        </th>
        <th>
            Price
        </th>
        <th>
            Date
        </th>
        <th>
            Post Payment
        </th>
        <th>
            Status
        </th>
    </tr>

    @foreach (TransactionAdminVM item in (List<TransactionAdminVM>)(ViewBag.CustomerTransactions))
    {
        <tr>
            <td>
                @item.TransactionId
            </td>
            @*<td>
                @item.PhoneNumber
            </td>*@
            <td>
                @item.PaymentMethod
            </td>
            <td>
                @item.RRechargeId
            </td>
            <td>
                @item.SRechargeId
            </td>
            <td>
                @item.RechargeType
            </td>
            <td>
                @item.RechargeName
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @item.DateTime
            </td>
            <td>
                @item.PostPayment
            </td>
            <td>
                @item.Status
            </td>
        </tr>
    }
</table>
}

