@using Recharge_Mobile.Areas.Recharge.Models
@{
    ViewBag.Title = "RechageDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title-->
<div class="page-title d-flex" aria-label="Page title" style="background-image: url(img/page-title/shop-pattern.jpg);">
    <div class="container text-left align-self-center">
        <h1 class="page-title-heading">Shop Catalog</h1>
    </div>
</div>
<!-- Regular Recharge-->
    <div class="container-fluid pb-5 mb-3 ">
        <div class="row justify-content-center">
            <div class="col-xl-10 wizard">
                <h3 class="text-left">Regular Recharge</h3>
                <div style="height: 400px;overflow: scroll;">
                    <table class="table table-hover" id="RRecharge">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (IList<RRechargeModelView>)(ViewBag.RRList))
                            {
                                <tr>
                                    <td>
                                        <p class="product-title"><strong>@item.RRName</strong></p>
                                    </td>
                                    <td>
                                        @*@{ TimeSpan totalTime = TimeSpan.FromSeconds(@item.BaseTime); }
                                        @totalTime.ToString(@"hh\:mm\:ss")*@
                                        Call: @item.BaseTime minutes <br />
                                        Valid time: @item.Duration days
                                    </td>
                                    <td>
                                        <span class="product-price">
                                            $@item.Price
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-style-4 btn-dark" href="@Url.Action("CheckoutPayment","Recharge", new { id = item.RRechargeId })">
                                            Subscribe
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Special Recharge-->
    <div class="container-fluid pb-5 mb-3 ">
        <div class="row justify-content-center">
            <div class="col-xl-10 wizard">
                <h3 class="text-left">Special Recharge</h3>
                <div style="height: 400px;overflow: scroll;">
                    <table class="table table-hover" id="RRecharge">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in (IList<SRechargeModelView>)(ViewBag.SRList))
                            {
                                <tr>
                                    <td>
                                        <p class="product-title"><strong>@item.SRName</strong></p>
                                    </td>
                                    <td>
                                        @*@{ TimeSpan totalTime = TimeSpan.FromSeconds(@item.BaseTime); }
                                           @totalTime.ToString(@"hh\:mm\:ss")*@
                                        Duration: @item.Duration days
                                    </td>
                                    <td>
                                        <span class="product-price">
                                            $@item.Price
                                        </span>
                                    </td>
                                    <td>
                                        <a class="btn btn-style-4 btn-dark" href="@Url.Action("CheckoutPayment","Recharge", new { id = item.SRechargeId })">
                                            Subscribe
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

