@model IEnumerable<Recharge_Mobile.Areas.AdminArea.Models.TransactionAdminVM>

@{
    ViewBag.Title = "TransactionListByDate";
    Layout = "~/Areas/AdminArea/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="color: purple; text-align: center">Daily Report</h3>
<div class="container">
    <div class="row mb-3">
        <div class="col"></div>
        <div class="col">
            <div class="float-right">
                @using (Html.BeginForm("TransactionListByDate", "TransactionAdmin", new { area = "AdminArea" }))
                {
                    if (ViewBag.daycheck != null)
                    {
                        <input class="custom-select" type="date" id="checkdate" name="checkdate" value="@ViewBag.daycheck.ToString("yyyy-MM-dd")" onchange="this.form.submit()">
                    }
                    else
                    {
                        <input class="custom-select" type="date" id="checkdate" name="checkdate" value="@DateTime.Now.ToString("yyyy-MM-dd")" onchange="this.form.submit()">
                    }
                }
            </div>
        </div>
    </div>
</div>

@*<span id="btnchange" class="btn btn-default">change</span>*@

<p class="font-weight-bold">
    Total Amount: $@ViewBag.totalAmount
</p>
<table class="table table-hover">
    <tr>
        <th>
            Phonenumer
        </th>
        <th>
            Payment Method
        </th>
        <th>
            Recharge Type
        </th>
        <th>
            Recharge Name
        </th>
        <th>
            Price
        </th>
        <th>
            Date
        </th>
        <th>
            Post Payment
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RechargeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RechargeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
            </td>
        </tr>
    }

</table>

@section scripts {
    @*<script type="text/javascript">

            $(document).ready(function () {
                $("#btnchange").click(function () {
                    $.ajax({
                        url: 'TransactionListByDate',
                        method: "post",
                        data: {
                            CheckDate: $("#checkdate").val()
                        },
                        success: function (response) {
                            window.location.reload();
                        }
                    });
                });
            });

        </script>*@
}
